.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.menu__item {
    display: inline-block;
    padding: 0 15px;
}
.menu__link {
    font-family: "Gotham-Bold", Ubuntu, Arial, sans-serif;
    font-size: 14px;
    line-height: 29px;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 30px 0;
    border: 3px solid transparent;
}

.menu__link:hover {
    border-bottom: 3px solid aqua;
}
.menu__link--button {
    font-family: "Gotham-Bold", Ubuntu, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: white;
    padding: 20px 22px 20px 36px;
    background-color: #a100ff;
    border-radius: 5px;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.7s;
}
.menu__link--button_img {
    width: 18px;
    vertical-align: middle;
}
.menu__link--button:hover {
    border-bottom: none;
    background-color: #602c7e;
}